.ordercard {
  outline: 1px solid black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 910px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  /* height: 125px; */
}

.fontAl {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.fontDate {
  margin-left: 20px;
}
